body{
  font-family: "Inter", sans-serif;                                              
  background-color: #13ffd4;
}
h1{
  color: white;
}
p{
    color: white;
  font-size: 24px;
}
body {
  margin: 20px;
}
ul{
  justify-content: center;
  color:white;
  diplay: flex;
  list-style-type:none;
  padding: 0;
  margin: 0;
}
li{
  font-size: 24px;
  margin-right: 33px;
  float: left;
}
button {
  background: none;
  border: none;
  color: white;
  font: inherit;
  cursor: pointer;
  padding: 20px;           
  font-size: 24px;
        }
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 580px;
  height: 380px;
  padding:20px;
  text-align: center;
  border-radius:20px;
  background-color:#27FD96;
}
.login{
  font-family: 'Pilowlava', sans-serif;
  border: 2px solid white;
  padding:10px;
  border-radius:100px;
}
